<ol class="breadcrumb">
	<li>
	<a href="/affair">事务公告</a> <span class="divider">/</span>
	</li>
	<li><a href="/affair/page">列表</a> <span class="divider">/</span></li>
	<li class="active">
	详细信息
	</li>
</ol>
<div class="container span10 offset1">
		<h3 class="text-center">
			<%=title%>
		</h3>
		<p class="text-center pinfo"><span>点击次数：<%=hits%></span> <span>发布时间：<%=fmt_time%></span> <span>编辑：<%=writer%></span></p>
		<%=content%>
</div>
