<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Wuhan Linux user group 编辑</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>
<div class="container-fluid headerlist">
  <div class="navbar navbar-static-top">
    <ul  id="titlelist">
      <li class="divider-vertical n3"></li>
      <li class="n1 text-center">
      <a <%if active == Ash::Disposition::COMMON_PAGE_EDIT_AFFAIR%>class="titlelist_a_hover" style="color: #8063f3;border: 4px #8063f3;border-bottom-style: solid;padding-bottom: 6px;"<%end%> href="/wlg/setting/affair">
        事务
        <p class="n2">Affairs</p>
      </a>
      </li>

      <li class="divider-vertical n3"></li>
      <li class="n1 text-center">
      <a <%if active == Ash::Disposition::COMMON_PAGE_EDIT_EVENT%>class="titlelist_a_hover" style="color: #8063f3;border: 4px #8063f3;border-bottom-style: solid;padding-bottom: 6px;"<%end%> href="/wlg/setting/event">
        活动
        <p class="n2">Activities</p>
      </a>
      </li>

      <li class="divider-vertical n3"></li>
      <li class="n1 text-center">
      <a <%if active == Ash::Disposition::COMMON_PAGE_EDIT_SUMMARY%>class="titlelist_a_hover" style="color: #8063f3;border: 4px #8063f3;border-bottom-style: solid;padding-bottom: 6px;"<%end%> href="/wlg/setting/summary">
        回顾
        <p class="n2">Review</p>
      </a>
      </li>

      <li class="divider-vertical n3"></li>
      <li class="n1 text-center">
      <a href="/wlg/logout">
        退出
        <p class="n2">logout</p>
      </a>
      </li>

      <li class="divider-vertical n3"></li>
      <li class="n1 text-center">
      <a href="/">
        预览
        <p class="n2">preview</p>
      </a>
      </li>
      </li>
      <li class="divider-vertical n3"></li>
    </ul>
  </div>
</div>
<div class="container-fluid smallheadername">
  <div class="realPlace-smallName">
    <div class="smallname"></div>
  </div>
</div>
<div class="container-fluid">
  <div class="activity_name">
    <div class="title-small">
      <div class="second-title">
        <p class="title-doc"></p>
        <span class="title-big">WhLUG</span>
        <p class="title-doc"></p>
      </div>
    </div>
  </div>
  <div class="realContent-activity">
    <div class="activity_border">
      <%=content%>
    </div>
  </div>
</div>
<div class="container-fluid footer">
  <div class="row-fluid">
    <div class="span8 offset2">
      <p>©Copyright 2013 Wuhan Linux User Group All Rights Reserved.</p>
    </div>
  </div>
</div>
</body>
</html>
