body{font-family:Microsoft YaHei,Tahoma, Arial,SimSun,Verdana;background:url('/image/bg.jpg') repeat;overflow-x:hidden;}
a{color:#595a5b;}
a:hover{color:#08c;}
div.subscribe{margin-top:56px;height:70px;}
div.subscribe .sub_rss{float:left;}
div.subscribe .sub_email{width:1000px;float:left;margin-top:20px;margin-left:20px;}
div.subscribe .sub_email .sub_email_groups{float:left;}
div.subscribe .sub_email .sub_email_input{float:left;margin-left:10px;}
div.subscribe .sub_email .sub_email_input .sub_email_input_btn{margin-bottom:6px;}
.headerlist{width:100%;background:url('/image/nav.png') repeat-x;height:82px;}
#titlelist{width:980px;margin:0 auto;display:block;}
#titlelist li{float:left;display:inline;}
li{list-style:none;}
#titlelist li.n1{width:14%;}
#titlelist li a{padding:20px 10px 2px 10px;display:block;font-size:18px;cursor:pointer;color:#d4d7d8;text-decoration:none;}
#titlelist li a:hover{color:#8063f3;}
a .n2{font-size:14px;}
#titlelist li.n3{margin-top:16px;border-right:1px solid #000000;border-left:1px solid #333333;}
.realPlace-name{width:1090px;margin-left:auto;margin-right:auto;}
.realPlace{width:1090px;margin-left:auto;margin-right:auto;}
.realPlace-smallName{width:480px;margin-left:auto;margin-right:auto;margin-top:40px;}
.headername{margin-top:70px;width:100%;}
.name{background:url('/image/wlug_b.png') no-repeat;width:1090px;height:109px;}
.Lcontain{margin-top:100px;width:100%;}
.title{margin-bottom:10px;}
.titlename{font-size:28px;color:#595a5b;}
.titlemore{font-size:16px;color:#595a5b;font-weight:bold;}
.table_border{padding:10px 10px 0px 10px;border:1px #b0b0b2;border-style:solid;border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;background:#f2f1f3;}
.note{color:#595a5b;font-size:14px;height:42px;}
.note td{vertical-align:middle;}
.note1 td{border-top-style:none;}
td.date{text-align:right;}
.note > td:first-child{overflow:hidden;text-overflow:ellipsis;width:239px;white-space:nowrap;word-break:keep-all;}
.note > td:first-child div{overflow:hidden;text-overflow:ellipsis;width:239px;white-space:nowrap;}
.note > td:first-child a{color:#595a5b;text-decoration:none;cursor:pointer;}
tr:hover > td, .table-hover tbody tr:hover > th{background-color:#f7f7f7;}
.footer{width:100%;margin-top:320px;}
.footer p{text-align:center;color:#868787;}
.smallname{background:url('/image/wlug_s.png') no-repeat;width:711px;height:72px;}
.activity_name{width:980px;margin:0 auto;display:block;padding-left:80px;}
.activity_contain{margin-top:60px;}
.activity_border{border:1px #b0b0b2;border-style:solid;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;padding:40px 30px 25px 24px;background:#f7f6f7;}
.activity_total{padding-top:30px;padding-bottom:10px;}
.activity_title{font-size:24px;color:#3c3c3d;}
.activity_text{padding:0px 20px 10px 20px;font-size:18px;color:#595a5b;border-bottom:1px #b0b0b2 solid;}
.activity_date{text-align:right;padding-bottom:6px;}
.activity_t{height:60px;overflow:hidden;text-overflow:ellipsis;margin-top:5px;}
.activity_more{padding-top:8px;}
.activity_check{text-align:right;float:right;color:#595a5b;}
.activity_check:hover{color:#0088cc;}
.page{margin:20px 0px 0px 0px;text-align:center;}
.page ul{display:inline-block;*display:inline;margin-bottom:0;margin-left:0;}
.page ul > li{display:inline;}
.page ul > li > a{float:left;padding:4px 12px;line-height:20px;text-decoration:none;color:#a8a8a9;font-size:18px;}
.page ul > li > a:hover{color:#3e3e3f;}
.now-page{color:#3e3e3f;}
.title-small{line-height:20px;}
.title-big{position:relative;color:#343535;font-size:26px;line-height:20px;float:left;bottom:1px;}
.first-title{color:#595a5b;font-size:20px;position:relative;right:20px;}
.title-doc{margin-top:5px;margin-left:7px;margin-right:7px;float:left;width:10px;height:10px;background:url('/image/dot.png') no-repeat;}
.first-title span{float:left;}
.second-title{position:relative;right:15px;}
.realContent{width:720px;margin-left:auto;margin-right:auto;margin-top:50px;}
.content-subTitle-left{position:relative;float:left;margin-right:40px;}
.content-subTitle-right{}
.activity_2_total{padding:0px 40px 0px 40px;color:#595a5b;}
.activity_2_title{}
.activity_2_titlename{text-align:center;font-size:24px;margin-bottom:20px;line-height:24px;}
.activity_2_time{color:#959799;font-size:16px;height:20px;margin-left:116px;}
.activity_2_text{padding:20px 0px 6px 0px;font-size:20px;line-height:28px;}
.activity_2_more{padding:5px 0px 0px 0px;font-size:14px;}
.readCount{float:right;}
.aboutus{height:200px;}
.contactus{font-size:22px;line-height:28px;text-align:center;}
.realContent-activity{width:900px;margin-top:60px;margin-left:auto;margin-right:auto;}
.more-doc{font-size:22px;}
