body{
	background-image: url('/image/grid.png')
}
div.top-navbar-left{
	float: left;
}
div.top-navbar-right{
	float: right;
	margin-top: 30px;
	margin-right: 20px;
}
div.cont-left-base{
	float: left;
	width: 17%;
	height: 400px;
	border-right: 1px solid rgb(9,75,72);
	box-shadow: 1px 0px rgb(255,255,255);
	background-color: rgba(0,0,0,0.06);
}
div.cont-left-cont{
	margin-top: 40px;
	margin-left: 5px;

}
div.cont-left-btn{
	margin-left: 80px;
	margin-top: 10px;
	cursor: pointer;
}
div.cont-left-onclick{
	background-color: rgb(255,255,255);
	box-shadow: 3px 0px rgb(0,0,0);
}
div.cont-main-base{
	margin-left: 200px;
}
div.cont-left-click{
	margin-top: 10px;

}
