<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Wuhan Linux user group 活动正文</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="container-fluid headerlist">
  <div class="navbar navbar-static-top">
    <ul  id="titlelist">
      <li class="divider-vertical n3"></li>
      <li class="n1 text-center">
      <a href="/">
        首页
        <p class="n2">Home</p>
      </a>
      </li>

      <li class="divider-vertical n3"></li>
      <li class="n1 text-center">
      <a href="/affair">
        事务
        <p class="n2">Affairs</p>
      </a>
      </li>

      <li class="divider-vertical n3"></li>
      <li class="n1 text-center">
      <a class="titlelist_a_hover" style="color: #8063f3;border: 4px #8063f3;border-bottom-style: solid;padding-bottom: 6px;" href="javascript:none;">
        活动
        <p class="n2">Activities</p>
      </a>
      </li>

      <li class="divider-vertical n3"></li>
      <li class="n1 text-center">
      <a href="/review">
        回顾
        <p class="n2">Review</p>
      </a>
      </li>

      <li class="divider-vertical n3"></li>
      <li class="n1 text-center">
      <a href="/introduction">
        WhLUG介绍
        <p class="n2">About  WhLUG</p>
      </a>
      </li>

      <li class="divider-vertical n3"></li>
      <li class="n1 text-center">
      <a href="/contact">
        联系我们
        <p class="n2">Contact  us</p>
      </a>
      </li>
      <li class="divider-vertical n3"></li>
    </ul>
  </div>
</div>
<div class="container-fluid smallheadername">
  <div class="realPlace-smallName">
    <div class="smallname"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="activity_name">
    <div class="title-small">
      <div class="first-title">
        <p class="title-doc"></p>
        <a href="/activity/"><span>活动公告</span></a>
        <p class="title-doc"></p>
      </div>
      <div class="second-title">
        <span class="title-big">正文</span>
        <p class="title-doc"></p>
      </div>
    </div>
  </div>
  <div class="realContent">
    <div class="activity_border">
      <div class="activity_2_total">
        <div class="activity_2_title">
          <div class="activity_2_titlename"><%=title%></div>
          <div class="activity_2_time">
            <div class="content-subTitle-left">发布时间：<%=fmt_time%></div>
            <div class="content-subTitle-left">编辑：<%=writer%></div>
          </div>
        </div>
        <div class="activity_2_text">
          <div>
            <%=content%>
          </div>
        </div>
        <div class="activity_2_more row-fluid">
          <div>
            <span class="readCount">阅读次数(<%=hits%>)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid footer">
  <div class="row-fluid">
    <div class="span8 offset2">
      <p>©Copyright 2013 Wuhan Linux User Group All Rights Reserved.</p>
    </div>
  </div>
</div>
</body>
</html>
